*.a
*.o
.deps
Makefile
Makefile.in
*.log
*.trs

/INSTALL
/aclocal.m4
/ar-lib
/autom4te.cache
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/alfalfa-*.tar.gz
/stamp-h1
/test-driver

/protobufs/*.pb.cc
/protobufs/*.pb.h
/protobufs/*_pb2.py
/src/configuration
/src/inspect-config
/src/sender-runner
/src/sender-logger
/src/inspect-simulationsdata
/src/remy
/src/remy-poisson
/graph/ratatouille
/src/scoring-example
