*.a
*.o
.deps
Makefile
Makefile.in
*.log
*.trs

/INSTALL
/aclocal.m4
/ar-lib
/autom4te.cache
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/alfalfa-*.tar.gz
/stamp-h1
/test-driver

/protobufs/answer.pb.cc
/protobufs/answer.pb.h
/protobufs/dna.pb.cc
/protobufs/dna.pb.h
/protobufs/problem.pb.cc
/protobufs/problem.pb.h
/src/configuration
/src/inspect-config
/src/rat-runner
/src/remy
/src/scoring-example
